
.navbar-inverse {
    border-color: #44bd32;
    background-color: #00843d;
}


.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #aaaa55;

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #aaaa55;
}


.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {
    font-weight: bold;
    margin-left: 8px;
    color: #666633;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #aaaa55;
}


.btn-primary {
    color: white;
    background-color: #27ae60;
    border-color: #27ae60;
}


a:hover, a:focus {
    color: #666633;
    text-decoration: none;
}



a {
    color: #00843d;
    text-decoration: none;
}


.btn-primary:hover {
    color: white;
    background-color: #aaaa55;
    border-color: #aaaa55;
}




.oe_highlight {
    color: white;
    background-color: #27ae60;
    border-color: #27ae60;
}



.oe_highlight:hover {

    color: white;
    background-color: #aaaa55;
    border-color: #aaaa55;

}

.oe_highlight:active {
    color: white;
    background-color: #aaaa55;
    border-color: #aaaa55;
}

.oe_highlight:active.foucs {
    color: white;
    background-color: #aaaa55;
    border-color: #aaaa55;
}

.btn-primary:hover {
    color: white;
    background-color: #aaaa55;
    border-color: #aaaa55;
}

.oe_highlight:foucs {

    color: white;
    background-color: #aaaa55;
    border-color: #aaaa55;

}




.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled {

    opacity: 1.0;
    color: #00843d;
    pointer-events: none;
    border-left: 1px solid #E5E5E5;

}



.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {

    color: #143814;
    font-size: 11px;
    background-color: #FFF;
    cursor: default;

}



.o_required_modifier.o_input, .o_required_modifier .o_input {

    background-color: #eeeedd !important;

}


a:hover, a:focus {

    color: #666633;
    text-decoration: none;

}


.table-striped > tbody > tr:nth-of-type(2n+1) {

    background-color: #eeeedd;

}

.o_form_view .oe_button_box .oe_stat_button:hover {
    background-color: #eeeedd;
}



.o_form_view .o_horizontal_separator {

    color: #666633;
    font-weight: bold;

}

.o_loading {
    position: fixed;
    top: 0;
    right: 50%;
    padding: 4px 12px;
    background-color: #666633;
    color: white;
    text-align: center;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}



.o_field_widget.o_field_many2one .o_external_button {
    padding: 0;
    margin-left: 2px;
    font-size: 19px;
    color: #666633;
    border: none;
}

.datepicker .table-condensed > thead {
    color: white;
    background-color: #666633;
}


.datepicker .table-condensed > thead > tr:last-child {
    color: white;
    background-color: #666633;
}
.datepicker .table-condensed > thead > tr:first-child th:hover {
    color: white;
    background-color: #666633;
}

.datepicker .table-condensed > tbody > tr > td.active, .datepicker .table-condensed > tbody > tr > td .active {
    background-color: #666633;
    border-radius: 100px;
}

.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
    color: #666633;
    font-size: 24px;
}


.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
    color: black;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #666633;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_footer > a > span {
    color: #666633;
}

