.date_table {
	color: black;
	width: 40%;
	text-align: center;
}

.date_table td {
	padding: 10px;
}

.date_table tr {
	padding: 10px;
}

.date_table2 {
	color: black;
	width: 50%;
	text-align: center;
}