  .navbar-collapse.collapse {
    display: block !important;
    height: 45px !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

.navbar-inverse {
    background-color: #81bf13;
    border-color: #70aa0a;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li > a {
    height: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #81bf13;
  border-color: #81bf13;
}

.btn-primary:hover {
  color: #fff;
  background-color: #a5ea2e;
  border-color: #a5ea2e;
}

.btn-primary:focus {
  color: #fff;
  background-color: #a5ea2e;
  border-color: #a5ea2e;
} 

.o_web_client {
    background-color: #efeded;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.o_web_client .navbar li > a {
    padding: 4px 8px;
    margin-top: 11px;
    font-size: 14px;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #e9e199;
}

#oe_main_menu_navbar li a, .navbar-nav li a, #oe_main_menu_navbar li button, .navbar-nav li button {
    font-size: 14px !important;
    padding: 14px 10px !important;
    margin-top: 0 !important;
    line-height: 21px !important;
}

.o_control_panel {
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: #fff;
    border-bottom: 1px solid #a8a8a8;
}

.breadcrumb {
    padding: 0 0;
    margin-bottom: 18px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {
    font-weight: bold;
    margin-left: 8px;
    color: #81bf13;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    background-color: #e9e199;
}

.o_form_view .o_form_required.o_form_input, .o_form_view .o_form_required .o_form_input, .o_form_view .o_form_required.o_form_textarea, .o_form_view .o_form_required .o_form_textarea {
    background-color: #e9e199;
}

.o_control_panel .breadcrumb > li > a {
    color: #81bf13;
    cursor: pointer;
}

a {
    color: #81bf13;
    cursor: pointer;
}

.o_loading {
    position: fixed;
    top: 0;
    right: 50%;
    padding: 4px 12px;
    background-color: #e9e199;
    color: white;
    text-align: center;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


.o_searchview .o_searchview_facet {
    border: 1px solid #777777;
    background: #e9e199;
}

.o_form_view .o_horizontal_separator {
    color: #81bf13;
    font-weight: bold;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped a, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped a {
    color: #81bf13;
}

.oe_highlight {
    background-color: #81bf13;
    border-color: #81bf13;
    color: white;
}

.oe_highlight:hover {
    background-color: #a5ea2e;
    border-color: #a5ea2e;
    color: white;
}

.oe_highlight:focus {
    background-color: #5d8b0e;
    border-color: #5d8b0e;
    color: white;
}

.o_form_view ul.oe_form_status li.oe_active, .o_form_view ul.oe_form_status_clickable li.oe_active {
    background-color: #81bf13;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#abaaca), to(#555487));
    background-image: -webkit-linear-gradient(top, #abaaca, #555487);
    background-image: -moz-linear-gradient(top, #81bf13, #81bf13);
    background-image: -ms-linear-gradient(top, #abaaca, #555487);
    background-image: -o-linear-gradient(top, #abaaca, #555487);
    background-image: linear-gradient(to bottom, #81bf13, #81bf13);
}

a:hover, a:focus {
    color: #81bf13;
    text-decoration: none;
}

.o_form_view .o_form_field.o_form_field_many2one .o_external_button {
    padding: 0;
    margin-left: 2px;
    font-size: 19px;
    color: #81bf13;
    border: none;
}

.o_form_view ul.oe_form_status li.oe_active > .arrow span, .o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
    background-color: #81bf13;
    background: -moz-linear-gradient(135deg, #81bf13, #81bf13);
    background: -o-linear-gradient(135deg, #abaaca, #555487);
    background: -webkit-gradient(linear, left top, right bottom, from(#81bf13), to(#81bf13));
    background: -ms-linear-gradient(top, #abaaca, #555487);
}

.o_control_panel .breadcrumb > li > a:hover {
    color: #5d8b0e;
    text-decoration: none;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: white;
    background-color: #5d8b0e;
    border-color: #5d8b0e;
}

.oe_highlight:active:hover, .oe_highlight.active:hover, .open > .dropdown-toggle.oe_highlight:hover, .oe_highlight:active:focus, .oe_highlight.active:focus, .open > .dropdown-toggle.oe_highlight:focus, .oe_highlight.focus:active, .oe_highlight.active.focus, .open > .dropdown-toggle.oe_highlight.focus {
    color: white;
    background-color: #5d8b0e;
    border-color: #5d8b0e;
}

.oe_highlight:active, .oe_highlight.active, .open > .dropdown-toggle.oe_highlight {
    color: white;
    background-color: #5d8b0e;
    border-color: #5d8b0e;
}

.o_form_view.o_form_nosheet > header {
    margin: -15px -16px 0 -16px;
}

.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
    color: #81bf13;
    font-size: 24px;
}

.o_kanban_view .o_kanban_record .o_kanban_image + div {
    padding-left: 0px;
    padding-right: 72px;
    padding-top: 6%;
}

.o_form_view .o_form_field_image .o_form_image_controls {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    width: 100%;
    color: white;
    background-color: #d7f6a2;
    opacity: 0;
    transition: opacity ease 400ms;
}

.o_searchview .o_searchview_autocomplete li.o-selection-focus {
    background-color: #e9e199;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    padding: 0 3px;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color: #e9e199;
    color: #4c4c4c;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #5d8b0e;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #5d8b0e;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #e9e199;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #000;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #81bf13;
    border-color: #81bf13;
}

.datepicker .table-condensed > thead {
    color: white;
    background-color: #81bf13;
}

.datepicker .table-condensed > thead > tr:first-child th:hover {
    color: white;
    background-color: #5d8b0e;
}

.datepicker .table-condensed > tbody > tr > td.active, .datepicker .table-condensed > tbody > tr > td .active {
    background-color: #81bf13;
    border-radius: 100px;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
    color: black;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #5d8b0e;
}

.oe_highlight.disabled, .oe_highlight[disabled], fieldset[disabled] .oe_highlight, .oe_highlight.disabled:hover, .oe_highlight[disabled]:hover, fieldset[disabled] .oe_highlight:hover, .oe_highlight.disabled:focus, .oe_highlight[disabled]:focus, fieldset[disabled] .oe_highlight:focus, .oe_highlight.disabled.focus, .oe_highlight[disabled].focus, fieldset[disabled] .oe_highlight.focus, .oe_highlight.disabled:active, .oe_highlight[disabled]:active, fieldset[disabled] .oe_highlight:active, .oe_highlight.disabled.active, .oe_highlight[disabled].active, fieldset[disabled] .oe_highlight.active {
    background-color: #5d8b0e;
    border-color: #5d8b0e;
}
