  /* #d11f37*/
  .navbar-collapse.collapse {
    display: block !important;
    /*height: 45px !important;*/
    padding-bottom: 0;
    overflow: visible !important;
  }

.navbar-inverse {
    /*background-color: #797A7D;
    border-color: #797A7D;*/
    background-color: #47484A;
    border-color: #47484A;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li > a {
    /*height: 30px;*/
    height: 30px;
}

.btn-primary { 
  color: #fff;
  /*background-color: #d11f22;*/
  background-color: #d6363c;
  border-color: #d6363c;
  /*border-color: #E22026;*/

}

.btn-primary:hover {
    color: #fff; 
    /*background-color: #931012;
    border-color: #931012;*/
    background-color: #bc3136;
    border-color: #bc3136;
}

.btn-primary:focus {
  color: #fff;
  /*background-color: #931012;
  border-color: #931012;*/
  background-color: #bc3136;
    border-color: #bc3136;
} 

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  /*background-color: #d11f22;*/
  background-color: #bc3136;
  border-color: #bc3136;
  /*border-color: #E22026;*/
}


.o_web_client {
    background-color: #efeded;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.o_web_client .navbar li > a {
    padding: 4px 8px;
    margin-top: 11px;
    font-size: 14px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000; 
    /*background-color: #fcd980; */
    background-color: #c1bebd;
}

#oe_main_menu_navbar li a, .navbar-nav li a, #oe_main_menu_navbar li button, .navbar-nav li button {
    font-size: 14px !important;
    /*padding: 14px 10px !important;*/
    padding: 7px 10px !important;
    margin-top: 0 !important;
    line-height: 21px !important;
}

.o_control_panel {
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    /*background-color: #fff;*/
    background-color: #f7f7f7;
    border-bottom: 1px solid #a8a8a8;
}

.breadcrumb {
    padding: 0 0;
    margin-bottom: 18px;
    list-style: none;
    /*background-color: #fff;*/
    background-color: #f7f7f7;
    border-radius: 4px;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {
    font-weight: bold;
    margin-left: 8px; 
    /*color: #d11f22;*/
    color: #d6363c;
    font-size: 14px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black; 
    /*background-color: #fcd980;*/
    background-color: #c1bebd;
}#c1bebd

.o_form_view .o_form_required.o_form_input, .o_form_view .o_form_required .o_form_input, .o_form_view .o_form_required.o_form_textarea, .o_form_view .o_form_required .o_form_textarea {
    background-color: #fcd980;
}

.o_control_panel .breadcrumb > li > a {
    /*color: #d11f22;*/
    color: #d6363c;
    cursor: pointer;
}

a {
    /*color: #d11f22;*/
    color: #d6363c;
    cursor: pointer;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #bfb9b9;
}

/*.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {

    font-weight: bold;
    margin-left: 8px;
    color: #d11f22;
    font-size: 15px;
}*/

.o_loading {
    position: fixed;
    top: 0;
    right: 50%;
    padding: 4px 12px;
    /*background-color: #d11f22;*/
    background-color: #d6363c;
    color: white;
    text-align: center;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


.o_searchview .o_searchview_facet {
    border: 1px solid #777777;
    background: #bfb9b9;
    font-weight: bold;
}

.o_form_view .o_horizontal_separator {
    /*color: #d11f22;*/
    /*color: #d6363c;*/
    color: #2a5682;
    font-weight: bold;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    /*color: #d11f22;*/
    color: #d6363c;
    /*font-size: 11px; */
    font-size: 12px;
    /*background-color: #F9F9F9;*/
    background-color: #F7F7F7;
    cursor: default;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped a, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped a {
    /*color: #d11f22;*/
    color: #d6363c;
}

.oe_highlight {
    background-color: #47484A;
    border-color: #47484A;
    color: white;
}

.oe_highlight:hover {
    background-color: #75777a;
    border-color: #75777a;
    color: white;
}

.oe_highlight:focus {
    background-color: #47484A;
    border-color: #47484A;
    color: white;
}

.o_form_view ul.oe_form_status li.oe_active, .o_form_view ul.oe_form_status_clickable li.oe_active {
    background-color: #106bac;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#106bac), to(#106bac));
    background-image: -webkit-linear-gradient(top, #106bac, #106bac);
    background-image: -moz-linear-gradient(top, #106bac, #106bac);
    background-image: -ms-linear-gradient(top, #106bac, #106bac);
    background-image: -o-linear-gradient(top, #106bac, #106bac);
    background-image: linear-gradient(to bottom, #106bac, #106bac);
}

a:hover, a:focus {
    /*color: #d11f22;*/
    color: #d6363c;
    text-decoration: none;
}

.o_form_view .o_form_field.o_form_field_many2one .o_external_button {
    padding: 0;
    margin-left: 2px;
    font-size: 19px;
    color: #106bac;
    border: none;
}

.o_form_view ul.oe_form_status li.oe_active > .arrow span, .o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
    background-color: #106bac;
    background: -moz-linear-gradient(135deg, #106bac, #106bac);
    background: -o-linear-gradient(135deg, #106bac, #106bac);
    background: -webkit-gradient(linear, left top, right bottom, from(#106bac), to(#106bac));
    background: -ms-linear-gradient(top, #106bac, #106bac);
}

.o_control_panel .breadcrumb > li > a:hover {
    color: #8e0c0f;
    text-decoration: none;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: white;
    /*background-color: #931012;
    border-color: #931012;*/
    background-color: #bc3136;
    border-color: #bc3136;
}

.oe_highlight:active:hover, .oe_highlight.active:hover, .open > .dropdown-toggle.oe_highlight:hover, .oe_highlight:active:focus, .oe_highlight.active:focus, .open > .dropdown-toggle.oe_highlight:focus, .oe_highlight.focus:active, .oe_highlight.active.focus, .open > .dropdown-toggle.oe_highlight.focus {
    color: white;
    background-color: #47484A;
    border-color: #47484A;
}

.oe_highlight:active, .oe_highlight.active, .open > .dropdown-toggle.oe_highlight {
    color: white;
    background-color: #47484A;
    border-color: #47484A;
}

.o_form_view.o_form_nosheet > header {
    margin: -15px -16px 0 -16px;
}

.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
    color: #106bac;
    font-size: 24px;
}

.o_kanban_view .o_kanban_record .o_kanban_image + div {
    padding-left: 0px;
    padding-right: 72px;
    padding-top: 6%;
}

.o_form_view .o_form_field_image .o_form_image_controls {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    width: 100%;
    color: white;
    background-color: #71b5e5;
    opacity: 0;
    transition: opacity ease 400ms;
}

.o_searchview .o_searchview_autocomplete li.o-selection-focus {
    /*background-color: #fcd980;*/  
    background-color: #bfb9b9;
    /*background-color: #47484A;*/
    /*background-color: #d11f22;*/
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    padding: 0 3px;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color: #bfb9b9;
    color: black;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    /*background-color: #71b5e5;
    color: #fff;*/
    background-color: #c1bebd;
    color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff; 
    /*background-color: #d11f22;*/
    background-color: #d6363c;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
    list-style: none;
    font-size: 13px;
    text-align: left;
    /*background-color: #bfb9b9;*/
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #000;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #d11f22;
    border-color: #E22026;
}

.datepicker .table-condensed > thead {
    color: white;
    /*background-color: #106bac;*/ 
    /*background-color:#bfb9b9;*/ 
    /*background-color:#d11f22;*/
    background-color:#d6363c;
}

.datepicker .table-condensed > tbody > tr , .datepicker .table-condensed > tbody > tr > td {
    /*color: white;
    background-color: #106bac;*/
    background-color:white;
    border-color: white;
    /*border-style: solid;*/
}


.datepicker .table-condensed > thead > tr:first-child th:hover {
    color: white; 
    /*background-color: #71b5e5;*/ 
    /*background-color: #ccc;*/
    /*background-color: #d11f22;*/
    background-color: #bc3136; 

}

.datepicker .table-condensed > tbody > tr > td.active, .datepicker .table-condensed > tbody > tr > td .active {
    /*background-color: #106bac;*/
    /*background-color: #bfb9b9;*/
    /*background-color: #d11f22;*/
    background-color: #d6363c; 
    border-radius: 100px !important;
    border-color: #bfb9b9;
}

.datepicker .table-condensed > tbody > tr > td.today:before {
    /*background-color: #106bac;*/
    /*background-color: #bfb9b9;*/
    /*border-bottom-color: #d11f22;*/
    border-bottom-color: #d6363c;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
    color: black;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    /*background-color: #106bac;*/
    background-color: #d6363c; 
}

.oe_highlight.disabled, .oe_highlight[disabled], fieldset[disabled] .oe_highlight, .oe_highlight.disabled:hover, .oe_highlight[disabled]:hover, fieldset[disabled] .oe_highlight:hover, .oe_highlight.disabled:focus, .oe_highlight[disabled]:focus, fieldset[disabled] .oe_highlight:focus, .oe_highlight.disabled.focus, .oe_highlight[disabled].focus, fieldset[disabled] .oe_highlight.focus, .oe_highlight.disabled:active, .oe_highlight[disabled]:active, fieldset[disabled] .oe_highlight:active, .oe_highlight.disabled.active, .oe_highlight[disabled].active, fieldset[disabled] .oe_highlight.active {
    background-color: #47484A;
    border-color: #47484A;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li:not(.active) > a {
    color: #333333;
}

.o_web_client > .o_main .o_sub_menu {
    border-right: none;
    border-left: 1px solid #afafb6;
    /*background-color: #eee;*/
    background-color: #f7f7f7;
}

.btn-link {
    /*color: #d11f22;*/
    color: #265f99;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped a, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped a {
    color: #47484A;
}


}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #bfb9b9;
}

.o_field_widget.o_field_many2one .o_external_button {
    padding: 0;
    margin-left: 2px;
    font-size: 19px; 
    /*color: #d11f22;*/
    color: #d6363c;
    border: none;
}

.o_required_modifier.o_input, .o_required_modifier .o_input {
    /*background-color: #bfb9b9 !important;*/ 
    background-color: #ccc !important;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_logo {
    -ms-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
    position: relative;
    /*margin-top: -53px;
    margin-bottom: -24px;*/
}

.o_form_view .o_form_statusbar > .o_statusbar_buttons > .btn {
    padding-top: 5px;
    padding-bottom: 5px;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button {
    font-size: 12px;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_footer > a > span {
    color: #d6363c;
}

.o_field_widget .o_input_dropdown > input > a, .o_field_widget .o_input_dropdown > input > a:hover, .o_field_widget .o_input_dropdown > input > a:focus {
    color: #000;
    background-color: #fcd980;
}

.o_web_client > .o_main .o_main_content .o_content .o_view_manager_content {
    background-color: #f7f7f7;
}

.o_form_view .o_form_uri:first-line {
    color: #265f99;
}

.o_form_view .o_form_uri:hover:first-line {
    color: #5788ba;
}

.o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value, .o_form_view .oe_button_box .oe_stat_button > span .o_stat_value {
    color: #106bac;
}

.btn-link:hover, .btn-link:focus {
    color: #5788ba;
}

.o_form_view .oe_link {
    color: #265f99;
}

.o_form_view .oe_link:hover, .o_form_view .oe_link:focus {
    color: #5788ba;
}

.o_form_view .oe_link:hover {
    color: #5788ba;
}

.o_mail_navbar_item .o_notification_counter {
    background: #265F9A;
}